<!-- Base jinja2 template -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />

    <!-- Let children or render_template functions assign name and description -->
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{{description}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <base target="_blank" />
</head>
<body>

<!-- Create a header with my personal and contact information -->
<header>
    <h2>Jordan Quinn</h2>
    <hr/>
    <p id="contact">
        Pittsburgh, Pennsylvania &vert;
        <a href="mailto:quinn.jordan@protonmail.ch">quinn.jordan@protonmail.ch</a> &vert;
        <a href="https://www.github.com/jordanaq/">github.com/jordanaq</a> &vert;
        <a href="https://www.linkedin.com/in/jordanaq/">linkedin.com/in/jordanaq/</a>
    </p>
</header>


<!-- Create block as placeholder for content -->
{% block content %}
{% endblock %}


<!-- Footer with links -->
<footer>
    <nav>
        <a class="navLink" href="https://www.github.com/jordanaq/">GitHub</a> &vert;
        <a class="navLink" href="https://www.linkedin.com/in/jordanaq/">LinkedIn</a> &vert;
        <a class="navLink" href="#top" target="_self">Top</a>
    </nav>
</footer>
</body>
</html>