{% extends "base.html" %}

{% block title %}Resume{% endblock %}

{% block content %}
    <section class="categories">
        <h3>SUMMARY</h3>
        <p>Self-motivated computer science student with a passion for studying the latest
            and most influential development technologies. Demonstrable experience in and confidence with C++, Elixir,
            Python, C#, .NET, data structures, and various code editors and productivity tools.</p>
    </section>


    <section class="categories">
        <h3>EDUCATION</h3>


        {% for s in schools %}
        <div>
            <h4><a href="{{ s.link }}">{{ s.name }}</a> ({{ s.start.strftime("%Y") }} -
                    {% if s.finish %}{{ s.finish.strftime("%Y") }}{% endif %})</h4>

            <!-- Display all programs at school s -->
            <ul class="program">
            {% for i in s.programs() %}
                <li class="program">{{ i.name }}</li>
            {% endfor %}
            </ul>

            <!-- Display description if available -->
            {% if s.description %}<p>{{ s.description }}</p>{% endif %}

            <!-- Display classes for each term available -->
            {% for term in s.semesters() %}
                <h5>{{ term.name }}:</h5>

                <ul>
                    {% for c in term.classes %}
                        <li class="indent">{{ c.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        {% endfor %}
    </section>


    <section class="categories">
        <h3>CERTIFICATES AND SPECIALIZED TRAINING</h3>


        {% for category in certificates %}
            <h4>
                {% if category.link %}
                    <a href="{{ category.link }}">{{ category.name }}</a>
                {% else %}
                    {{ category.name }}
                {% endif %}

                <!-- Check if there is a date associated with the category -->
                {% if category.finish %}
                    ({{ category.finish.strftime("%Y") }})
                {% endif %}
            </h4>

            <ul>
                {% for i in category.items() %}
                    <li class="indent">
                        {% if i.link %}
                            <a href="{{ i.link }}">{{ i.name }}</a>
                        {% else %}
                            {{ i.name }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </section>


    <section class="categories">
        <h3>TECHNICAL EXPERTISE AND SOFTWARE</h3>


        {% for category in expertise %}
            <h4>{{ category.name.title() }}</h4>

            <ul class="condensed">
                {% for i in category.items %}
                    <li>{{ i.name }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </section>


    <section class="categories">
        <h4>ACADEMIC AND PROFESSIONAL SOCIETIES</h4>


        {% for i in societies %}
        <p>
            <strong>{{ i.name }}</strong>
            ({{ i.start.strftime("%Y") }} - {% if i.finish %}{{ i.finish.strftime("%Y") }}{% endif %})
            {% if i.chapter %}<br />{{ i.chapter }}{% endif %}
        </p>
        {% endfor %}

    </section>
{% endblock %}