body {
	margin: 2.5% auto 0;
	padding: 0;
	
	font-family: "Arimo", "Helvetica", sans-serif;
	max-width: 775px;
}
			
h2 {
	margin-bottom: 2px;
}
			
hr {
	margin: 0;
	padding: 0;
}

table {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	text-align: center;
	margin: 2.5% auto 0;
	width: 95%;
}
			
td, th {
	border: 1px solid black;
	border-right: none;
	border-bottom: none;
}
			
th {
	font-weight: normal;
	background-color: lightgrey;
	text-align: left;
	width: 15%;
}

a {
	color: inherit;
	text-decoration: none;
}
			
a:hover {
	color: grey;
	transition-duration: 0.2s;
}
			
nav {
	margin: 10% 0 0;
	text-align: center;
}
		
.navLink {
	margin: 0 8.333%;
}
			
.categories {
	margin: 5% 0 0;
}
			
.grade {
	text-align: left;
	padding-left: 1em;
}

.description {
	margin-top: -1%;
}
			
#contact {
	margin-top: 2px;
}
		
